<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>
<main>
    <form th:action="@{/students/add}" th:method="POST" th:object="${addStudentBindingModel}">
        <div class="form-group">
            <label>First Name</label>
            <input th:field="*{firstName}" th:errorclass="is-invalid" class="form-control" placeholder="First Name">
            <small class="invalid-feedback bg-danger text-light rounded">
                First name cannot be blank.
            </small>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input th:field="*{lastName}" th:errorclass="is-invalid" class="form-control" placeholder="Last Name">
            <small class="invalid-feedback bg-danger text-light rounded">
                Last name cannot be blank.
            </small>
        </div>
        <div class="form-group">
            <label>Course</label>
            <input th:field="*{course}" th:errorclass="is-invalid" class="form-control" placeholder="Course">
            <small class="invalid-feedback bg-danger text-light rounded">
                Course name cannot be blank.
            </small>
        </div>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
</main>

<footer th:replace="/fragments/commons::footer"></footer>

<script th:replace="/fragments/commons::scripts"></script>
</body>
</html>