<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head"></head>
<body>
<header th:replace="/fragments/commons::nav"></header>
<main>
    <form>
        <div class="form-group">
            <label for="studentId">Student ID</label>
            <input class="form-control" id="studentId"
                   placeholder="Enter student ID">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Subjects</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="Physics">Physics</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Student's Subjects</button>
    </form>
</main>

<script th:replace="/fragments/commons::scripts"></script>
</body>
</html>