<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="admin-rights-modifier visually-hidden">
  <form th:action="" th:method="GET" th:object="">
    <div class="form-group">
      <label for="userEmail">Email address of User</label>
      <input type="email" th:field="" class="form-control" id="userEmail" aria-describedby="emailHelp"
             placeholder="Enter email">
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Subjects</label>
      <select th:field="" class="form-control" id="exampleFormControlSelect1">
        <option value="MODERATOR">MODERATOR</option>
      </select>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select action:</label>
      <select th:field="" class="form-control" id="action">
        <option value="Add Role">Add Subject</option>
        <option value="Remove Role">Remove Subject</option>
      </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update Subjects</button>
  </form>
</div>

</body>
</html>